/* Genel Sayfa Stilleri */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
}

header button#addVisitorButton {
    background-color: white;
    color: #4CAF50;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
}

header button#addVisitorButton:hover {
    background-color: #45a049;
    color: white;
}

/* Kontrol Paneli Stilleri */
.controls {
    padding: 10px 20px;
    display: block;
    gap: 10px;
    align-items: center;
    background-color: white;
    border-bottom: 1px solid #ccc;
    position: relative;
}
.searchbox{
    margin-bottom: 10px;
}
#total_result{
    height: 25px;
    width: fit-content;
    border-radius: 4px;
    background-color: #45a049;
    position: absolute;
    right: 23px;
    top: 14px;
}
#total_result span{
    text-align: center;
    display: block;
    padding: 6px;
    font-size: 12px;
    color: #eeeaea;
    letter-spacing: 1.4px;
}
.controls input[type="text"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;    
    width: -webkit-fill-available;
    padding-right: 194px;

}

.controls button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 6px 9px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
    letter-spacing: 1.2px;
}

.controls button:hover {
    background-color: #45a049;
}

.controls input[type="file"] {
    cursor: pointer;
}
.controlsRight{
    float: right;
}
#itemsPerPageSelect {
    border: none;
    outline: none;
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 5px 9px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
    letter-spacing: 1.2px;
}

/* Tablo Stilleri */
table {
    border-collapse: collapse;
    margin: 20px 15px 20px 15px;
    background-color: white;
    border-radius: 5px;
    overflow: hidden;
    width: -webkit-fill-available;
}

table th, table td {
    /* text-align: left; */
    padding: 12px;
    border-bottom: 1px solid #ddd;
}

table th {
    background-color: #4CAF50;
    color: white;
    font-size: 14px;
    border: 1px solid;
    text-align: left;
}

table tbody tr:nth-child(odd) {
    background-color: #eff3f1;
  }

table tbody tr:hover {
    background-color: #a2dfb5;
}
table td {
    font-size: 12px;
    letter-spacing: 1.2px;
    border: 1px solid #ddd;
    text-align: left;
}
table select {
    border: none;
    height: 26px;
    border-radius: 8px;
    padding-right: 4px;
}

table input[type="checkbox"] {
    cursor: pointer;
}

table button {
    background-color: #f0ad4e;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

/* Modal Stilleri */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: white;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #ccc;
    width: 50%;
    border-radius: 5px;
    position: relative;
}

.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close-button:hover,
.close-button:focus {
    color: black;
}

form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

form input, form select, form textarea, form button {
    display: block;
    width: 100%;
    width: -webkit-fill-available;
    margin-bottom: 15px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #45a049;
}
.apartment_visitor_count{
    font-size: 12px;
    color: #aaa;   
}
.process{
    padding-left: 15%;    
    padding-top: -7px;
    width: max-content;
}
.edit-button, .delete-button{    
    float: left;
    position: relative;
    border-radius: 30px;
    height: 30px;
    width: 30px;
    margin-right: 5px;
}
.edit-button{
    background-color: #c1b30e;
}
.edit-button svg{
    color: #fff;
    position: absolute;
    top: 8px;
    left: 9px;
    width: 14px;
    height: 14px;
}
.delete-button{
    background-color: #b92916;
}
.delete-button svg{
    color: #fff;
    position: absolute;
    top: 8px;
    left: 9px;
    width: 14px;
    height: 14px;
}
#filterForm {
    margin-top: 30px;
}

.checkbox-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    background-color: #f8f8f8;
    padding: 10px;
    height: 30px;
    position: relative;
}

.checkbox-wrapper .checkbox-label {
    margin-left: 15px;
    /* Checkbox ile label arasındaki boşluk */
}

.checkbox-wrapper select#scope {
    margin-top: 15px;
    margin-left: 10px;
}

.sort-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    background-color: #f8f8f8;
    padding: 10px;
    height: auto;
}

.sort-wrapper select,
.sort-wrapper label {
    margin-top: 10px;
    margin-left: 10px;
}

#groupButton{
    margin-left: -10px;
    padding: 9px;
    height: 25.5px;
    background-color: #5cb74c;
    border-radius: 0;
    width: 20px;
    height: 26px;
    position: relative;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
#groupButton svg{
    width: 12px;
    height:12px;
    position: absolute;
    top: 7px;
    left: 4px;
}
#groupButton:hover{
    background-color: #459238;
}
#pagination {
    text-align: center;
    margin-bottom: 20px;
}
#pagination button {
    padding: 5px 10px;
    margin: 2px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    cursor: pointer;
}
#pagination button:hover {
    background-color: #e9e9e9;
}
#pagination button:focus {
    outline: none;
    background-color: #ccc;
}
#pagination button.active {
    background-color: #4CAF50; /* Aktif sayfa rengi */
    color: #fff; /* Aktif sayfa yazı rengi */
    border-color: #4CAF50; /* Aktif sayfa kenar rengi */
}



/*
Max width before this PARTICULAR table gets nasty. This query
will take effect for any screen smaller than 760px and also
iPads specifically.
*/
@media only screen and (max-width: 1200px){

    /* Force table to not be like tables anymore */
    table, thead, tbody, th, td, tr {
        display: block;
    }
    
    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    
    tr {
        margin: 0 0 1rem 0;
    }    
    tr:nth-child(odd) {
        background-color: #eff3f1;
      }
    
    td {
        /* Behave  like a "row" */
        border: none;
        position: relative;        
        padding-left: 20%;
    
    }
    
    td:before {
        top: 0;
        /* left: 6px; */
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        font-weight: bold;
    }
    /*
        Label the data. You could also use a data-* attribute and
        content for this. That way "bloats" the HTML, this way means
        you need to keep HTML and CSS in sync. Lea Verou has a
        clever way to handle with text-shadow.
    */
    td:before { content: attr(data-label); }
    .controlsRight{
        float: none;
        margin-top: 5px;
    }
    .edit-button, .delete-button{    
        margin-top: -23px;
    }
    }
    .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    border-top: none;
    padding: 10px;
    }